<label id="example-radio-group-label">Pick your monthn</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectMonth"
>
  <mat-radio-button
    class="example-radio-button"
    *ngFor="let item of listMonths"
    [value]="item.id"
  >
    {{item.description}}
  </mat-radio-button>
</mat-radio-group>
<div *ngIf="selectMonth>=0">
  <p>Select month ID: {{ selectMonth }}</p>
  <p>Select month description: {{ getMonthName(selectMonth) }}</p>
</div>
